paths:
  input_videos: "C:\\Users\\giova\\OneDrive\\Desktop\\tesi\\project\\data\\organized_videos"
  output_videos: "C:\\Users\\giova\\OneDrive\\Desktop\\tesi\\project\\data\\output"
  ground_truth: "C:\\Users\\giova\\OneDrive\\Desktop\\tesi\\project\\data\\ground_truth"
  predictions: "C:\\Users\\giova\\OneDrive\\Desktop\\tesi\\project\\data\\predictions"
  results: "C:\\Users\\giova\\OneDrive\\Desktop\\tesi\\project\\data\\results"

video:
  frame_stride: 1          # 1 = usa tutti i frame
  resize_width: null       # oppure un valore intero, es. 1280
  resize_height: null    # oppure un valore intero, es. 720
  output_suffix: "_anon"   # suffisso per i video anonimizzati

detector:
  active: "yolov12"         # yolov8 / yolov12 / yunet / retinaface

  yolov8:
    model_path: "models/yolov8/yolov8n-face.pt"
    conf_threshold: 0.5
    device: "cpu"

  yolov12:
    model_path: "models/yolov12/yolov12n-face.pt"
    conf_threshold: 0.5
    device: "cpu"

  yunet:
    model_path: "models/yunet/face_detection_yunet_2023mar.onnx"
    score_threshold: 0.5
    nms_threshold: 0.3
    top_k: 5000
    face_class_id: 0

  retinaface:
    conf_threshold: 0.5     # soglia di confidenza
    device: "cpu"           # "cpu" oppure "cuda"
    resize: 1.0             # parametro del wrapper per ridimensionare l'immagine di input
    max_size: 1080          # parametro per ridimensionare internamente

evaluation:
  matching: "center"          # "iou" oppure "center"
  iou_threshold: 0.2        # soglia IoU per TP
  score_threshold: 0.5      # scarta predizioni con conf < score_threshold
  allow_multiple_predictions: true

anonymizer:
  type: "gaussian_blur"     # gaussian_blur / pixelate / black 
  blur_kernel: 35
  pixel_size: 20
  face_margin: 0.2          # allarga la box del 20%
  use_ellipse: true        # true per versione ovale dell'anonimizzazione
